h1 {
    color: blue;
}
#container {
    display: flex;
}
.row {
    border: rgb(177, 174, 174) 1px solid;
    float: left;

}
.block {
    border: rgb(177, 174, 174) 1px solid;
    height: 5px;
    width: 5px;
}
.block:hover {
    background-color: black;
}
.flipped {
    border: rgb(177, 174, 174) 1px solid;
    height: 5px;
    width: 5px;
    background-color: black;
}