h1 {
    color: blue;
}
#container {
    height: 900px;
    width: 900px;
}
.row {
    border: black 2px solid;
    float: left;
    height: 20px;
    width: 900px;
}
.block {
    border: black 2px solid;
    float: left;
    height: 20px;
    width: 20px;
}
.block:hover {
    background-color: black;
}